.about-me {
  width: 100%;
  height: 300px;
  background-color: transparent;
  overflow: hidden;
}

.about-me-content {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  animation: slide-in-left 1s ease-out;
}

.about-me-content h2 {
  margin-top: 0;
  color: #FDB813; /* gold linear gradient */
  background: linear-gradient(to right, #FDB813, #C28E0E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me-content p {
  margin-top: 10px;
  color: #fff;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
