.about-me {
  width: 100%;
  height: 300px;
  background-color: transparent; /* transparent background */
  overflow: hidden;
}

.about-me-content {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  animation: slide-in-left 1s ease-out;
}

.about-me-content h2 {
  margin-top: 0;
  color: #F07B3F; /* orange-goldish color */
}

@keyframes slide-in
